{% extends 'base.html.twig' %}
{% set somme = 0 %}
{% block title %}CBD DEALERZZZ - Basket{% endblock %}

{% block page %}
    <div class="tab">
        <h2>Liste des articles dans votre panier</h2>
        <table>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th></th>
            </tr>
            {% for article in articles %}
                <tr>
                    <td>{{ article.product.libelle }}</td>
                    <td>{{ article.product.price }}</td>
                    <td>{{ article.quantity }}</td>
                    <td><a href="{{ path ('product_remove', { 'id' : article.id} ) }}">Retirer</a></td>
                </tr>
                {% set somme = somme + (article.product.price) * (article.quantity) %}
            {% endfor %}
        </table>

        <div>
            <h2>Total : {{ somme }}€</h2>
            <!--{{ somme }}€-->
            <h3><label class="commander"><a href="{{ path('product_commander') }}"> Commander </a> </label></h3>
        </div>
    </div>
    <div>

    </div>
{% endblock %}