{% extends 'base.html.twig' %}

{% block title %}CBD DEALERZZZ - Listing{% endblock %}

{% set choix = 0 %}
{% set demande = 1 %}
{% block page %}
    <script type="text/javascript">
        function findmyvalue()
        {
            var choix = document.getElementById("choix").value;

            alert(choix);
        }
    </script>
    <div class="tab">
        <h2>Liste de tous les articles</h2>
        <table>
            <tr>
                <th>id</th>
                <th>libelle</th>
                <th>prix</th>
                <th>quantité</th>
                <th></th>
                <th></th>
            </tr>
            {% if articles is defined %}
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.libelle }}</td>
                        <td>{{ article.price }}</td>
                        <td>{{ article.stock }}</td>     <!--, 'quantity' : demande <-- Ne marche pas -->
                        <td><a href="{{ path ('_add_product_to_basket', { 'id' : article.id} ) }}">Ajouter</a></td>
                        <td>
                            <label for="choix"></label>
                            <select id = "choix">
                            {% for choix in 1 .. article.stock %}
                            <option value="{{ choix }}">
                                {{ choix }}</option>
                                {% endfor %}
                                {{ dump(choix) }}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

{% endblock %}
