{% block menu %}
    <nav>
        <ul>
            {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') and is_granted('ROLE_USER') == false
                and is_granted('ROLE_SUPER_ADMIN') == false%}
                <li><a href={{ path('app_main') }}>Menu</a></li>
                <li class="connect"><a href={{ path('app_register')}}>Créer un compte</a></li>
                <li class="connect"><a href={{ path('app_login')}}>Connexion</a></li>
            {% endif %}
            {% if is_granted('ROLE_USER') and is_granted('ROLE_SUPER_ADMIN') == false %}
                <li><a href={{ path('app_main') }}>Menu</a></li>
                <li><a href={{ path('app_edit_profile') }}>Modifier profil</a></li>
                <li><a href={{ path('product_get_list') }}>Lister produits</a></li>
                <li><a href={{ path('product_basket') }}>Panier</a></li>
                <li class="connect"><a href={{ path('app_logout')}}>Déconnexion</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') and is_granted('ROLE_SUPER_ADMIN') == false %}
                <li><a href={{ path('admin_user_management') }}>Gestion des utilisateurs</a></li>
                <li><a href={{ path('product_add') }}>Ajouter un produit</a></li>
                <li><a href='https://fr.wikipedia.org/wiki/The_Truman_Show'>The Truman Show</a></li>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li><a href={{ path('app_main') }}>Menu</a></li>
                <li><a href={{ path('app_edit_profile') }}>Modifier profil</a></li>
                <li><a href={{ path('admin_user_role') }}>Ajouter un admin</a></li>
                <li class="connect"><a href={{ path('app_logout')}}>Déconnexion</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}