{% extends 'base.html.twig' %}

{% block title %}CBD DEALERZZZ - Register{% endblock %}

{% block page %}
    <form method="post">
        <h1>Inscription</h1>
        {% if app.session.flashbag.has('error') %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-error">
                    {{ app.session.flashbag.get('error') }}
                </div>
            {% endfor %}

        {% endif %}
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.login) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.birthdate) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </form>
{% endblock %}
